.header{
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo{
    width: 100px;
    object-fit: contain;
    margin: 20px 50px;
    position: relative;
}

.header__nav{
    float: right;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    color: #111;
    position: absolute;
    right: 100px;
}

.header__line{
    font-size: 18px;
    font-weight: 800;
    margin-left: 10px;
    margin-right: 10px;
}

